input.editor-field {
    width: 300px;
    text-align: center;
    font-size: 60px;
    border-style: none;
}

textarea.properties-editor {
    width: 400px;
    font-size: 30px;
}

body {
    margin: 0;
}

svg.graphdiagram {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.tools {
    z-index: 100;
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 10px;
    background-color: #a9a9a9;
    border-radius: 10px;
    display: table-cell;
}

.modal-appear {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#glass-pane {
    z-index: 1001;
    opacity: 0.5;
    background-color: black;
}

#modal-container {
    z-index: 1002;
    text-align: center;
    overflow: hidden;
}

.modal-dialog {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 30px;
    padding: 50px;
    overflow: auto;
}

.modal-dialog.export-markup {
    width: 800px;
    text-align: left;
}

.modal-dialog.pop-up-editor {
    display: none;
    position: relative;
    width: 800px;
}

p.button-row {
    text-align: right;
}

textarea.code {
    width: 100%;
    border: none;
    font-family: Menlo, monospace;
    font-size: 10pt;
}