body, svg {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

circle.graph-diagram-node, path.graph-diagram-relationship {
    stroke: black;
    stroke-width: 8px;
    fill: white;
}

circle.graph-diagram-node.highlight, path.graph-diagram-relationship.highlight {
    stroke: blue;
}

circle.graph-diagram-node.lowlight, path.graph-diagram-relationship.lowlight {
    stroke: #555;
}

path.graph-diagram-relationship {
    marker-end: url(#graph-diagram-arrowhead-normal);
}

path.graph-diagram-relationship.highlight {
    marker-end: url(#graph-diagram-arrowhead-highlight);
}

path.graph-diagram-relationship.lowlight {
    marker-end: url(#graph-diagram-arrowhead-lowlight);
}

path.graph-diagram-arrowhead-normal, text.graph-diagram-bound-variable, text.graph-diagram-relationship-label {
    fill: black;
}

path.graph-diagram-arrowhead-highlight, text.graph-diagram-bound-variable.highlight, text.graph-diagram-relationship-label.highlight {
    fill: blue;
}

path.graph-diagram-arrowhead-lowlight, text.graph-diagram-bound-variable.lowlight, text.graph-diagram-relationship-label.lowlight {
    fill: #555;
}

text.graph-diagram-bound-variable {
    text-anchor: middle;
    alignment-baseline: central;
    font-size: 60px
}

text.graph-diagram-relationship-label {
    text-anchor: middle;
    alignment-baseline: bottom;
    baseline-shift: 30%;
    font-size: 50px
}

