.markup {
    display: none;
}

.result {
    width: 10px;
}

.examples.table {
    width: auto;
}

.example .result {
    opacity: 0.65;
}

.example.pass .result {
    background-color: #51a351;
}

.example.fail .result {
    background-color: #bd362f;
}

.example.pass .actual-diagram svg {
    visibility: hidden;
}

.examples.all-pass .actual-diagram, .examples.all-pass .errors {
    display: none;
}